nav{
    background: rgb(14, 245, 214);
    padding: 15px 10px;   
    color: rgb(26, 4, 4);
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
nav li{
    display: inline-block;
    vertical-align: top;
}
nav a{
    color: rgb(26, 4, 4);
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.3s;
    font-weight: bold;
}
nav a:hover{
    border: 1px solid rgb(19, 1, 1);
}

input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #fff;   
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}
nav label:hover{
    color: rgb(111, 0, 255);
    border: 1px solid rgb(76, 0, 255);
}
@media (min-width:320px) {
    nav label{
        display: inline-block;
        font-size:22px;
   }
   nav > ul {
       display: none;
   }
   input[type="checkbox"]:checked ~ label + ul {
       display: block;
   }
}
@media (min-width:481px) {
    nav label{
        display: inline-block;
        font-size:26px;
   }
   nav > ul {
       display: none;
   }
   input[type="checkbox"]:checked ~ label + ul {
       display: block;
   }
}

@media screen and (min-width: 641px) {
    
    nav label{
         display: inline-block;
         font-size:28px;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }  
}

@media screen and (min-width: 961px) {
    
    nav label{
         display: inline-block;
         font-size:50px;
    }
    nav a{
        font-size: 32px;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }  
}

@media screen and (min-width: 1025px) {
    
    nav label{
         display: inline-block;
         font-size:54px;
    }
    nav a{
        font-size: 32px;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }  
}

@media screen and (min-width: 1281px) {
    
    nav label{
         display: inline-block;
         font-size:60px;
    }
    nav a{
        font-size: 32px;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }  
}